# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*
!.env.example

# Build artifacts
dist/
build/
coverage/
tmp/
temp/

# Node
node_modules/
